{% extends "base.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <div class="account-page">
        <div class="account-card slide-in">

            <h2>Change Password</h2>

            <form method="POST">
                {% csrf_token %}

                <input type="password" name="old_password" class="input" placeholder="Old Password">

                <input type="password" name="new_password" class="input" placeholder="New Password">

                <input type="password" name="confirm_password" class="input" placeholder="Confirm New Password">

                <button type="submit" class="btn btn-primary">Update Password</button>
            </form>

        </div>
    </div>

{% endblock %}
