{% extends "base.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <div class="profile-container">

        <div class="profile-card glass">
            <h2>Change Password</h2>

            <form method="POST">
                {% csrf_token %}

                <label>Old Password</label>
                <input type="password" name="old_password" class="input">

                <label>New Password</label>
                <input type="password" name="new_password" class="input">

                <label>Confirm New Password</label>
                <input type="password" name="confirm_password" class="input">

                <button type="submit" class="btn primary mt-3">Update Password</button>
            </form>

        </div>

    </div>

{% endblock %}
