{% extends "base.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <div class="account-page">
        <div class="account-card slide-in">

            <img src="{{ profile.avatar.url }}" class="avatar">

            <h2>@{{ user_obj.username }}</h2>
            <p class="email-text">{{ user_obj.email }}</p>

            <div class="btn-group">
                <a href="{% url 'edit_profile' user_obj.username %}" class="btn btn-primary">Edit Profile</a>
                <a href="{% url 'change_password' user_obj.username %}" class="btn btn-warning">Change Password</a>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">View Dashboard</a>
            </div>

        </div>
    </div>

{% endblock %}
