{% extends 'base.html' %}
{% load static %}

{% block content %}


    <!--banner-->
    <section class="resumenody">
        <div id="home" class="banner">
            <div class="banner-info">

                <div class="banner_content text-center">
                    <h2>Resume</h2>
                    <div class="page_link">
                        <a href="/">Home</a>
                        <a href="/ourteam">About Us</a>
                        <a href="#">Resume</a>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 header-left">
                            <img src="{{ member.profile_picture.url }}" alt=""/>
                        </div>
                        <div class="col-md-8 header-right">
                            <h2>Hello</h2>
                            <h1>I'm {{ member.full_name }}</h1>
                            <h6>{{ member.designation }}</h6>
                            <ul class="address">
                                <li>
                                    <ul class="address-text">
                                        <li><b>D.O.B</b></li>
                                        <li>{{ member.date_of_birth }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>PHONE </b></li>
                                        <li>{{ member.phoneno }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>ADDRESS </b></li>
                                        <li>{{ member.address }}</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>E-MAIL </b></li>
                                        <li><a href="mailto:{{ member.email }}"> {{ member.email }} </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>WEBSITE </b></li>
                                        <li><a href="{{ member.linkedin_url }}">{{ member.linkedin_url }} </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================Welcome Area =================-->
    <section class="welcome_area p_120">
        <div class="container">
            <div class="row welcome_inner">
                <div class="col-lg-6">
                    <div class="welcome_text">
                        <h4>About Myself</h4>
                        <p>{{ member.about_member }} </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tools_expert  card">
                        <div class="skill_main">
                            <h3>Skills</h3>
                            {% for skills in skill %}
                                <div class="skill_item">
                                    <h4>{{ skills.skilltopic }} <span
                                            class="counter">{{ skills.skillpercentage }}</span>%</h4>
                                    <div class="progress_br">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar"
                                                 aria-valuenow="{{ skills.skillpercentage }}" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    >

    <!--================My Tabs Area =================-->
    <section class="mytabs_area p_120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tabs_inner">
                        <div class="customrightborder">
                            <li>
                                <h2>My Experiences</h2>
                            </li>
                            <ul class="list">
                                {% for experiences in experience %}
                                    <li>
                                        <span></span>
                                        <div class="media">
                                            <div class="d-flex">
                                                <p>{{ experiences.from_year }} <br/> to <br/> {{ experiences.to_year }}
                                                </p>
                                            </div>
                                            <div class="media-body">
                                                <h4>{{ experiences.institution }}</h4>
                                                <p>{{ experiences.position }} <br/> {{ experiences.location }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="tabs_inner">
                        <div class="customleftborder">
                            <li class="nav-item">
                                <h2>My Education</h2>
                            </li>
                            <ul class="list">
                                {% for educations in education %}
                                    <li>
                                        <span></span>
                                        <div class="media">
                                            <div class="d-flex">
                                                <p>{{ educations.from_year }} <br/> to <br/> {{ educations.to_year }}
                                                </p>
                                            </div>
                                            <div class="media-body">
                                                <h4>{{ educations.institution }}</h4>
                                                <p>{{ educations.location }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--================Testimonials Area =================-->
    <section class="testimonials_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Projects</h2>
                <p>You can find my personal projects. Click on <i class="fa fa-github"></i> icon to go through my
                    projects.</p>
            </div>
            <div class="testi_inner">
                <div id="userRepos"></div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/github.js' %}"></script>
    <script type="text/javascript">
        my_cool_js_function("{{ member.github_userid}}")
    </script>
    <!--================End Testimonials Area =================-->
{% endblock content %}