{% extends 'base.html' %}
{% load static %}

{% block content %}

    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
                    <p style="color :white">beta</p>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto" id="navmenu1">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/allblogs">Blogs</a></li>
                            <!--                            <li class="nav-item"><a class="nav-link" href="/music">Music</a></li>-->
                            <li class="nav-item"><a class="nav-link" href="/videos">Gaming</a></li>
                            <li class="nav-item"><a class="nav-link" href="/ourteam">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <div id="hero-image1">
                <div class="hero-marketing-text">
                    <h1>Climbing<span>Poet</span></h1>
                    <h5 style="font-size:20px ; font-weight: bold;"> “When gone am I, the last of the Jedi will you be.
                        The Force runs strong in your family. Pass on what you have learned.” — Star Wars (Yoda)</h5>
                    <a href="#about">
                        <button>Read More</button>
                    </a>
                </div>
            </div>

            <div id="hero-image2">
                <div class="hero-marketing-text">
                    <h1>Power! <span> Unlimited power! </span></h1>
                    <h5 style="font-size:20px ; font-weight: bold;">"Hope is what makes us strong. It is why we are
                        here. It is what we fight with when all else is lost." – God Of War </h5>
                    <button>Read More</button>
                </div>
            </div>

            <div id="hero-image3">
                <div class="hero-marketing-text">
                    <h1>The Passion for <span>Games</span></h1>
                    <h5 style="font-size:20px ; font-weight: bold;">“Folks need heroes chief, to give ’em hope, so smile
                        would ya, while we still got something to smile about!” - Halo </h5>
                    <button>Read More</button>
                </div>
            </div>

        </div>
    </section>

    <section class="game_list_space" id="steamCarousel">
    </section>


    <section class="ourteams-body card">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div class="ourteams-heading-title1">
                        <h3 class="ourteams-text-uppercase1">About Me</h3>
                        <p class="text-left"> Whassup Guys!! Welcome to the #Climbingpoet 's website. </p>
                        <p class="text-left">I started streaming about a year ago on Facebook and Youtube and am working
                            21hrs a week + streaming, however now I am now trying to be a full-time streamer to reach my
                            dream. Video-games have been a great part of my life. I hope to share laughs, scares, and
                            awesome experiences with you here in the ClimbingPoets and hope you enjoy what you see! Be
                            sure to get connected and say hey!</p>
                        <div class="social">
                            <a href="https://facebook.com/ondrej.p.barta" class="link facebook" target="_parent"><span
                                    class="fa fa-facebook"></span></a>
                            <a href="https://plus.google.com/+OndřejBárta-Otaku" class="link twitch"
                               target="_parent"><span class="fa fa-twitch"></span></a>
                            <a href="https://plus.google.com/+OndřejBárta-Otaku" class="link google-plus"
                               target="_parent"><span class="fa fa-youtube"></span></a>
                            <a href="https://twitter.com/PageOnlineXS" class="link twitter" target="_parent"><span
                                    class="fa fa-twitter"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="{% static 'img/core-img/gamepage.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>

        </div>

        <section class="featured-posts">
            <div class="container box_1620">
                <div class="row justify-content-center">
                    <div class="post-heading-title">
                        <h3 class="post-text-uppercase"> Latest From the blog </h3>
                        <p class="post-half-txt"> Beautiful Description </p>
                    </div>
                </div>
                <div class="row justify-content-center ">
                    <!-- post -->
                    {% for obj in object_list %}
                        <div class="post col-md-3 col-sm-6 card">
                            <div class="post-thumbnail"><a href="#"><img src="{{ obj.thumbnail.url }}" alt="..."
                                                                         class="img-fluid"></a></div>
                            <div class="post-details">
                                <div class="post-meta d-flex justify-content-between">
                                    {% comment %} <div class="date meta-last">20 May | 2016</div> {% endcomment %}
                                    <div class="post_tag">
                                        {% for cat in obj.categories.all %}
                                            <a class="active" href="{{ obj.get_absolute_url }}">{{ cat.title }},</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <a href="{{ obj.get_absolute_url }}"><h3 class="h4">{{ obj.title }}</h3></a>
                                <p class="text-muted">{{ obj.overview | safe | linebreaks | truncatechars:400 }}</p>
                                <footer class="post-footer d-flex align-items-center">
                                    <a href="#" class="author d-flex align-items-center flex-wrap">
                                        <div class="avatar"><img src="{{ obj.author.profile_picture.url }}" alt="..."
                                                                 class="img-fluid"></div>
                                        <div class="title"><span>{{ obj.author.user.username }}</span></div>
                                    </a>
                                    <div class="date"><i class="icon-clock"></i>{{ obj.timestamp }} </div>
                                    <div class="comments meta-last"><i class="icon-comment"></i>{{ obj.comments.count }}
                                        comments
                                    </div>
                                </footer>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>

    <section class="gap3">
        <video loop muted autoplay class="video">
            <source src="{% static 'img/corevideo/cpvideos.mp4' %}" type="video/mp4">
        </video>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div id="youtube">

                    </div>
                </div>
            </div>

        </div>

    </section>
    <br>
    <script src="{% static 'js/steam.js' %}"></script>
    <script type="text/javascript">
        steam()
    </script>
    <script>
        $('#youtube').youtube({
            apiKey: 'AIzaSyAN77bxZAZfORCPZNV1TyaZDI8d_YO3uK8',
            youTubeChannelURL: "https://www.youtube.com/channel/UCEEpo6aLbozMvNq5dr2Ipgg",
            youTubePlaylistURL: "https://www.youtube.com/channel/UCEEpo6aLbozMvNq5dr2Ipgg/playlists",
            youtubeDefaultTab: "UPLOADS",
            youtubeColumns: 4,
            showVideoInLightbox: true,
            maxResults: 20,
        });
    </script>

{% endblock content %}